WEB_HOSTNAME=localhost
WEB_PORT=3000

DEVELOPMENT=true
PRODUCTION=local

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

DATABASE_PROVIDER=duckdb
DATABASE_DSN=agrinet.ddb

# DATABASE_PROVIDER=postgres
# DATABASE_DSN="host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=disable TimeZone=Asia/Tokyo"